# Lecture 18 - SQL Queries and Aggregations

Tuesday 2021/10/26

---

## ‚ú® Aggregating Data

Today, we will review basic SQL queries and try out a few aggregations. We will perform every exercise using both Pandas and SQL to see how similar they are.

‚ñ∂Ô∏è First, run the code cell below to import modules used for **üß≠ Check Your Work** sections and the autograder.

In [ ]:
import unittest
import base64
tc = unittest.TestCase()

---

### üéØ Pre-exercise: Import Packages

#### üëá Tasks

- ‚úîÔ∏è Import the following Python packages.
    1. `pandas`: Use alias `pd`.
    2. `numpy`: Use alias `np`.
    3. `sqlite3`: No alias

In [ ]:
# YOUR CODE BEGINS



# YOUR CODE ENDS

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
import sys
tc.assertTrue('pd' in globals(), 'Check whether you have correctly imported Pandas with an alias.')
tc.assertTrue('np' in globals(), 'Check whether you have correctly imported NumPy with an alias.')
tc.assertTrue('sqlite3' in globals(), 'Check whether you have correctly imported the sqlite3 package.')

---
### üìå Populate a database table from a CSV file

‚ñ∂Ô∏è Run the code below to create a DataFrame named `df_listings`.

In [ ]:
df_listings = pd.read_csv('https://github.com/bdi475/datasets/raw/main/boston-airbnb-listings-small.csv')
df_listings_backup = df_listings.copy()

display(df_listings.head(5))

‚ñ∂Ô∏è Run the code below to populate the `listings` table. All data in `df_listings` will be inserted to the table.

In [ ]:
conn = sqlite3.connect('airbnb-boston-medium.db')
c = conn.cursor()

tables = list(pd.read_sql_query('SELECT * FROM sqlite_master WHERE type="table";', con=conn)['tbl_name'])

if 'listings' in tables:
    c.execute(f'DELETE FROM listings')
    conn.commit()
    
df_listings.to_sql(name='listings', index=False, con=conn, if_exists='append')

conn.close()

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
conn_checker = sqlite3.connect('airbnb-boston-medium.db')
table_to_check = 'listings'

# Check if table exists
user_tables = list(pd.read_sql_query('SELECT * FROM sqlite_master WHERE type="table";', con=conn_checker)['tbl_name'])
tc.assertTrue(table_to_check in user_tables, f'{table_to_check} does not exist in your NWT.db file!')

conn_checker.close()

‚ñ∂Ô∏è Run the code below to display `df_listings`.

In [ ]:
display(df_listings)

---

### üéØ Exercise 1: Select all columns and rows from the `listings` table (SQL)

#### üëá Tasks

- ‚úîÔ∏è Write a query that selects all columns for all rows.
- ‚úîÔ∏è Store your query to a new variable named `query_select_all`.

In [ ]:
# YOUR CODE BEGINS




# YOUR CODE ENDS

conn = sqlite3.connect('airbnb-boston-medium.db')
df_result = pd.read_sql_query(query_select_all, con=conn)
display(df_result)
conn.close()

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
conn = sqlite3.connect('airbnb-boston-medium.db')
decoded_query = base64.b64decode(b'ClNFTEVDVCAqCkZST00gbGlzdGluZ3MK').decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
conn.close()

---

### üéØ Exercise 2A: Find expensive listings (Pandas)

#### üëá Tasks

- ‚úîÔ∏è Using `df_listings`, find all rows with a price of over $1,000 (`df_listings['price'] > 1000`).
- ‚úîÔ∏è Store the result to a new variable named `df_expensive_listings`.

#### üîë Expected Output

Your index column may contain different values.

|     | name                                           | neighbourhood   | room_type       |   bedrooms |   bathrooms |   minimum_nights |   price |   availability_365 |   number_of_reviews |   review_score |   is_superhost |
|----:|:-----------------------------------------------|:----------------|:----------------|-----------:|------------:|-----------------:|--------:|-------------------:|--------------------:|---------------:|---------------:|
| 502 | Large 4BDR near Harvard with Parking           | Allston         | Entire home/apt |          4 |         2.5 |                1 |    1250 |                  0 |                 136 |             98 |              0 |
| 669 | The Historic House in the North End/Waterfront | North End       | Entire home/apt |          3 |         2   |               91 |    1052 |                  0 |                 104 |             98 |              1 |

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

display(df_expensive_listings)

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
df_check = df_listings_backup.query(f"{'PrIcE'.lower()} > {25 * 40}")

pd.testing.assert_frame_equal(df_expensive_listings.sort_values(df_expensive_listings.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))

---

### üéØ Exercise 2B: Find expensive listings (SQL)

#### üëá Tasks

- ‚úîÔ∏è Using the `listings` table, select rows with a price of over $1,000 (`price > 1000`).
- ‚úîÔ∏è Select all columns.
- ‚úîÔ∏è Store your query to a new variable named `query_expensive_listings`.

In [ ]:
# YOUR CODE BEGINS





# YOUR CODE ENDS

conn = sqlite3.connect('airbnb-boston-medium.db')
df_result = pd.read_sql_query(query_expensive_listings, con=conn)
display(df_result)
conn.close()

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
conn = sqlite3.connect('airbnb-boston-medium.db')
decoded_query = base64.b64decode(b'ClNFTEVDVCAqCkZST00gbGlzdGluZ3MKV0hFUkUgcHJpY2UgPiAxMDAwCg==').decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### üéØ Exercise 3A: Find large listings (Pandas)

#### üëá Tasks

- ‚úîÔ∏è Using `df_listings`, find all rows where the listing has:
    - 5 or more bedrooms
    - **AND** 3 or more bathrooms
- ‚úîÔ∏è Select only the following 5 columns (in the same order):
    - `name`, `bedrooms`, `bathrooms`, `price`, `review_score`
- ‚úîÔ∏è Store the result to a new variable named `df_large_listings`.

#### üîë Expected Output

Your index column may contain different values.

|     | name                                               |   bedrooms |   bathrooms |   price |   review_score |
|----:|:---------------------------------------------------|-----------:|------------:|--------:|---------------:|
| 151 | Beautiful Philadelphia house near Harvard U. w/ pk |          5 |           3 |     600 |             82 |
| 250 | Spacious 4 BR | 2.5 BA Single-Family Home.         |          5 |           3 |     373 |             97 |
| 921 | ‚òÖLarge Retreat 5BR w/3BA‚òÖ Close to Everything      |          5 |           3 |     738 |             95 |

In [ ]:
# YOUR CODE BEGINS


# YOUR CODE ENDS

display(df_large_listings)

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
__r = 'oo'.join(['R', 'Ms']).lower()
df_check = df_listings.query(f'bed{__r} > {2 ** 2} & bath{__r} > {2 ** 1}') \
    [['_'.join(['review', 'score']), 'price', 'bath' + __r, 'bed' + __r, 'name'][::-1]]

pd.testing.assert_frame_equal(df_large_listings.sort_values(df_large_listings.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))

---

### üéØ Exercise 3B: Find large listings (SQL)

#### üëá Tasks

- ‚úîÔ∏è Using the `listings` table, find all rows where the listing has:
    - 5 or more bedrooms
    - **AND** 3 or more bathrooms
- ‚úîÔ∏è Select only the following 5 columns (in the same order):
    - `name`, `bedrooms`, `bathrooms`, `price`, `review_score`
- ‚úîÔ∏è Store your query to a new variable named `query_large_listings`.

In [ ]:
# YOUR CODE BEGINS





# YOUR CODE ENDS

conn = sqlite3.connect('airbnb-boston-medium.db')
df_result = pd.read_sql_query(query_large_listings, con=conn)
display(df_result)
conn.close()

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
conn = sqlite3.connect('airbnb-boston-medium.db')
decoded_query = base64.b64decode(b'ClNFTEVDVCBuYW1lLCBiZWRyb29tcywgYmF0aHJvb21zLCBwcmljZSwgcmV2aWV3X3Njb3JlCkZST00gbGlzdGluZ3MKV0hFUkUgKGJlZHJvb21zID49IDUpIEFORCAoYmF0aHJvb21zID49IDMpCg=='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### üéØ Exercise 4A: Number of listings (Pandas)

#### üëá Tasks

- ‚úîÔ∏è Find the number of rows in `df_listings`.
- ‚úîÔ∏è Store the result to a new variable named `num_listings`.
- ‚úîÔ∏è `num_listings` should be an integer type.

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

print(f'There are {num_listings} AirBnB listings in the dataset.')

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
tc.assertEqual(num_listings, len(df_listings_backup.index), f'Incorrect number of listings - should be {len(df_listings_backup.index)}')

---

### üéØ Exercise 4B: Number of listings (SQL)

#### üëá Tasks

- ‚úîÔ∏è Write a query that counts the number of rows in the `listings` table.
- ‚úîÔ∏è Store your query in a new variable named `query_num_listings`.

In [ ]:
# YOUR CODE BEGINS




# YOUR CODE ENDS

conn = sqlite3.connect('airbnb-boston-medium.db')
df_result = pd.read_sql_query(query_num_listings, con=conn)
display(df_result)
conn.close()

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
conn = sqlite3.connect('airbnb-boston-medium.db')
decoded_query = base64.b64decode(b'ClNFTEVDVCBDT1VOVCgqKQpGUk9NIGxpc3RpbmdzCg==').decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.iloc[0, 0], df_check.iloc[0, 0], 'Incorrect number of listings')
conn.close()

---

### üéØ Exercise 5A: Get the number of listings by neighbourhood (Pandas)

#### üëá Tasks

- ‚úîÔ∏è Using `df_listings`, find the number of listings by neighbourhood.
- ‚úîÔ∏è Store the result to a new variable named `df_by_neighbourhood`.
- ‚úîÔ∏è `df_by_neighbourhood` should have the following two columns.
    1. `neighbourhood`: Name of the neighbourhood
    2. `num_listings`: Number of listings in a neighbourhood
- ‚úîÔ∏è `print(df_by_neighbourhood.columns.tolist())` should print `['neighbourhood', 'num_listings']`.
- ‚úîÔ∏è **Sort** `df_by_neighbourhood` by `num_listings` in descending order.

#### üîë Expected Output

Your index column may contain different values.

|    | neighbourhood   |   num_listings |
|---:|:----------------|---------------:|
|  7 | Dorchester      |            215 |
| 12 | Jamaica Plain   |            129 |
| 19 | Roxbury         |            107 |
|  9 | East Boston     |             90 |
| 22 | South End       |             86 |

In [ ]:
# YOUR CODE BEGINS






# YOUR CODE ENDS

df_by_neighbourhood.head(5)

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
df_check = df_listings_backup.pivot_table(index=['neigh' + 'BoUr'.lower() + 'HooD'.lower()],
                                          values=['NaMe'.lower()],
                                          aggfunc=('CoU' + 'Nt').lower()) \
                                .rename(columns={'NaME'.lower(): '_'.join(['NuM', 'LiSTinGs']).lower()}) \
                                .reset_index().sort_values('_'.join(['NuM', 'LiSTinGs']).lower(), ascending=bool(0))

pd.testing.assert_series_equal(df_by_neighbourhood['num_listings'].reset_index(drop=True),
                               df_check['num_listings'].reset_index(drop=True))

#### üöÄ Solution

```python
# YOUR CODE BEGINS
df_by_neighbourhood = df_listings.groupby('neighbourhood', as_index=False).agg({
    'name': 'count'
})

df_by_neighbourhood.rename(columns={'name': 'num_listings'}, inplace=True)
df_by_neighbourhood.sort_values('num_listings', ascending=False, inplace=True)
# YOUR CODE ENDS
```

---

### üéØ Exercise 5B: Get the number of listings by neighbourhood (SQL)

#### üëá Tasks

- ‚úîÔ∏è Write a query that counts the number of listings by neighbourhood from the `listings` table.
- ‚úîÔ∏è The result of the query should have the following two columns.
    1. `neighbourhood`: Name of the neighbourhood
    2. `num_listings`: Number of listings in a neighbourhood
- ‚úîÔ∏è Store your query in a new variable named `query_num_listings_by_neighbourhood`.

In [ ]:
# YOUR CODE BEGINS






# YOUR CODE ENDS

conn = sqlite3.connect('airbnb-boston-medium.db')
df_result = pd.read_sql_query(query_num_listings_by_neighbourhood, con=conn)
display(df_result)
conn.close()

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
conn = sqlite3.connect('airbnb-boston-medium.db')
decoded_query = base64.b64decode(b'ClNFTEVDVCBuZWlnaGJvdXJob29kLCBDT1VOVCgqKSBBUyBudW1fbGlzdGluZ3MKRlJPTSBsaXN0aW5ncwpHUk9VUCBCWSBuZWlnaGJvdXJob29kCk9SREVSIEJZIG51bV9saXN0aW5ncyBERVNDCg==').decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['num_listings'].reset_index(drop=True),
                               df_result['num_listings'].reset_index(drop=True))
conn.close()

#### üöÄ Solution

```sql
SELECT neighbourhood, COUNT(*) AS num_listings
FROM listings
GROUP BY neighbourhood
ORDER BY num_listings DESC
```

---

### üéØ Exercise 6A: Average price by room type (Pandas)

#### üëá Tasks

- ‚úîÔ∏è Using `df_listings`, find the average price by room type.
- ‚úîÔ∏è Store the result to a new variable named `df_price_by_room_type`.
- ‚úîÔ∏è `df_price_by_room_type` should have the following two columns.
    1. `room_type`: Room type
    2. `price`: Average price of the room type
- ‚úîÔ∏è `print(df_price_by_room_type.columns.tolist())` should print `['room_type', 'price']`.
- ‚úîÔ∏è **Sort** `df_price_by_room_type` by `price` in ascending order.

#### üîë Expected Output

Your index column may contain different values.

|    | room_type       |    price |
|---:|:----------------|---------:|
|  3 | Shared room     |  34.75   |
|  2 | Private room    |  82.2278 |
|  0 | Entire home/apt | 201.135  |
|  1 | Hotel room      | 206.273  |

In [ ]:
# YOUR CODE BEGINS






# YOUR CODE ENDS

df_price_by_room_type

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
df_check = df_listings_backup.pivot_table(index=['RoOm_'.lower() + 'TyPe'.lower()],
                                          values=['price'],
                                          aggfunc=np.mean) \
                                .reset_index() \
                                .sort_values('price', ascending=bool(not False))

pd.testing.assert_frame_equal(df_price_by_room_type.sort_values(df_price_by_room_type.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))

---

### üéØ Exercise 6B: Average price by room type (SQL)

#### üëá Tasks

- ‚úîÔ∏è Write a query that finds the average price by room type from the `listings` table.
- ‚úîÔ∏è Store your query to a new variable named `query_price_by_room_type`.
- ‚úîÔ∏è Your result should have the following two columns.
    1. `room_type`: Room type
    2. `price`: Average price of the room type
- ‚úîÔ∏è **Sort** your result by `price` in ascending order.

In [ ]:
# YOUR CODE BEGINS






# YOUR CODE ENDS

conn = sqlite3.connect('airbnb-boston-medium.db')
df_result = pd.read_sql_query(query_price_by_room_type, con=conn)
display(df_result)
conn.close()

#### üß≠ Check your work

- Once you're done, run the code cell below to test correctness.
- ‚úîÔ∏è If the code cell runs without an error, you're good to move on.
- ‚ùå If the code cell throws an error, go back and fix incorrect parts.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
conn = sqlite3.connect('airbnb-boston-medium.db')
decoded_query = base64.b64decode(b'ClNFTEVDVCByb29tX3R5cGUsIEFWRyhwcmljZSkgYXMgcHJpY2UKRlJPTSBsaXN0aW5ncwpHUk9VUCBCWSByb29tX3R5cGUKT1JERVIgQlkgcHJpY2UK').decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))

conn.close()

#### üöÄ Solution

```sql
SELECT room_type, AVG(price) as price
FROM listings
GROUP BY room_type
ORDER BY price
```