# Visualization In-class Exercise

---

▶️ Run the code cell below to import packages used in today's exercise.

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

pd.set_option('display.max_columns', 50)

▶️ Run the code below to import a list of leasing companies or apartment complexes in the Champaign/Urbana area.

In [3]:
df_businesses = pd.read_csv('https://github.com/bdi475/datasets/raw/main/cu-leasing-companies/businesses.csv')
df_businesses.head(3)

,google_place_id,name,site,category,phone,street,city,zipcode,state,latitude,longitude,working_hours,business_status,about,verified
0,ChIJjy21MDbXDIgRG8W0CUaifWM,Bankier Apartments,http://www.bankierapartments.com/,Apartment rental agency,+1 217-328-3770,406 E Green St,Champaign,61820,Illinois,40.110661,-88.232315,"{""Monday"": ""8 AM-5 PM"", ""Tuesday"": ""8 AM-5 PM""...",OPERATIONAL,"{""Accessibility"": {""Wheelchair accessible entr...",True
1,ChIJX_L4rUnXDIgR9TAeTC_hgXA,University Group,http://ugroupcu.com/,Apartment rental agency,+1 217-352-3182,309 S 1st St,Champaign,61820,Illinois,40.113271,-88.239049,"{""Monday"": ""10 AM-5 PM"", ""Tuesday"": ""10 AM-5 P...",OPERATIONAL,"{""Service options"": {""Online appointments"": tr...",True
2,ChIJh-fkijjXDIgRiBiW0D9azyk,Campustown Rentals,https://www.americancampus.com/student-apartme...,Apartment rental agency,+1 217-366-3500,309 E Green St,Champaign,61820,Illinois,40.110051,-88.234160,"{""Monday"": ""10 AM-7 PM"", ""Tuesday"": ""10 AM-7 P...",OPERATIONAL,"{""Accessibility"": {""Wheelchair accessible park...",True

▶️ Run the code below to import the reviews associated with the leasing companies.

In [4]:
df_reviews = pd.read_csv('https://github.com/bdi475/datasets/raw/main/cu-leasing-companies/reviews.csv')
df_reviews.head(3)

,google_place_id,review_id,author_name,author_id,review_text,review_img_url,review_rating,review_datetime_utc,review_likes,owner_response_text,owner_response_datetime_utc,owner_response_timestamp_utc
0,ChIJjy21MDbXDIgRG8W0CUaifWM,ChZDSUhNMG9nS0VJQ0FnSURxdWF1eERREAE,Brian Brock,102851961623119326838,I lived here for about 2 years. Did not have a...,NaN,5,2021-07-13 19:57:53,0,NaN,NaN,NaN
1,ChIJjy21MDbXDIgRG8W0CUaifWM,ChZDSUhNMG9nS0VJQ0FnSUNlaTdHS0tREAE,Harry Verrill,111148195158442346207,I leased one of their single bedroom apartment...,NaN,5,2022-09-23 17:29:10,0,NaN,NaN,NaN
2,ChIJjy21MDbXDIgRG8W0CUaifWM,ChdDSUhNMG9nS0VJQ0FnSURpdnFXY2h3RRAB,Richard Kirby,106990939380419351259,I am in my third year of living with Bankier a...,NaN,5,2020-12-03 22:47:12,0,"HI Richard, thank you so much for taking the t...",2020-12-07 22:08:12,2020-12-07 22:08:12

---

### 🎯 Task for the day

- ✔️ Join the two DataFrames (`df_businesses` and `df_reviews`).
    - Use the `google_place_id` column to match rows between the two tables.
    - Use an inner join.
- ✔️ Create at least six different Plotly visualizations. 
    - ✔️ Use at least four different chart types (e.g., Line, Bar, Pie, Treemap).