# Quiz 3 - Venture Capital Exit Analysis

- This notebook is your personal scratchpad used to answer the Canvas quiz questions.
- We will only use this notebook to verify your work if required.

## Load libraries and data

Import packages.

In [ ]:
import pandas as pd
import numpy as np

### Dataset

There are two tables in our dataset.

- `df_companies` contains the information of companies that successfully performed a VC exit in the past year.
- `df_deals` contains the deal details of VC exits.

In [ ]:
df_companies = pd.read_csv('https://raw.githubusercontent.com/bdi475/datasets/737da234227d5ecec1369df1a1827cd40872c0eb/vc-exits/companies.csv')

df_companies.head()

In [ ]:
df_deals = pd.read_csv('https://github.com/bdi475/datasets/raw/737da234227d5ecec1369df1a1827cd40872c0eb/vc-exits/deals.csv')

df_deals.head()

## Workbook

Feel free to add more code cells.

## Quiz Questions

### Number of rows

How many companies (i.e., number of rows) does `df_companies` contain?

### Number of profitable companies

The `'is_profitable'` column in `df_companies` indicates whether a company was profitable or not at the time of exit.

How many companies were profitable at the time of exit?

**Hint:** Find the number of rows where `'is_profitable'` is `True`.

### Does `df_companies` contain any row with missing `country` value?

### Merge DataFrames (ungraded)

To answer the questions in the upcoming section, you will first need to merge `df_companies` and `df_deals`.

Here is a starter code block to get you started. Replace `left_dataframe`, `right_dataframe`, and `'shared_key_column'` with your own values.

In [ ]:
df = pd.merge(
    left=left_dataframe,
    right=right_dataframe,
    on='shared_key_column',
    how='inner'
)
print(df.shape)

### Largest deal amount in India

Hint: Find rows where the `'country'` column's value is 'India'. Then, look for the company with the largest deal_amount.

### Largest deal amount in 2021

Which company recorded the largest deal amount in 2021?

**Hint:** You will have to extract the year from the `'deal_date'` column.

### Third largest total deal amount

Which country has the third largest total deal amount?

**Hint:**

- The country with the third largest total deal amount has a sum of 14268 (which - is equivalent to 14.268 billion USD).
- Group by `'country'` and find the sum of `'deal_amount'` for each country.
- Sort by `'deal_amount'` by descending order or manually locate the third largest `'deal_amount'`.

### Deal type with the lowest average deal amont

Which deal type has the lowest average deal amount?

**Hint:**

- Group by `'deal_type'` and find the mean of `'deal_amount'` for each `'deal_type'`.
- Your code will be similar to that of the previous question.

### Unprofitable company with the largest number of patents

Among the companies that are not profitable, which company has the largest number of patents?

**Hint:**

- Filter companies where the value of `'is_profitable'` column is `False`.
- Then, sort by `'patents'` in descending order.