# Quiz 3 - Venture Capital Exit Analysis

- This notebook is your personal scratchpad used to answer the Canvas quiz questions.
- We will only use this notebook to verify your work if required.

## Load libraries and data

Import packages.

In [1]:
import pandas as pd
import numpy as np

### Dataset

There are two tables in our dataset.

- `df_companies` contains the information of companies that successfully performed a VC exit in the past year.
- `df_deals` contains the deal details of VC exits.

In [2]:
df_companies = pd.read_csv('https://raw.githubusercontent.com/bdi475/datasets/737da234227d5ecec1369df1a1827cd40872c0eb/vc-exits/companies.csv')

df_companies.head()

,company_name,deal_id,industry,city,country,is_profitable,patents
0,300,300145_202112,Entertainment Software,New York,United States,False,0
1,ACROBiosystems,acr168_202110,Discovery Tools (Healthcare),Beijing,China,True,0
2,ASR Microelectronics,asr032_202201,Application Specific Semiconductors,Shanghai,China,False,6
3,Admix,adm196_202206,Business/Productivity Software,London,United Kingdom,False,0
4,Affera,aff071_202208,Therapeutic Devices,Newton,United States,False,6

In [3]:
df_deals = pd.read_csv('https://github.com/bdi475/datasets/raw/737da234227d5ecec1369df1a1827cd40872c0eb/vc-exits/deals.csv')

df_deals.head()

    deal_date        deal_id       deal_type  deal_amount
0  2021-09-29  vel174_202109  Reverse Merger          345
1  2021-09-29  war005_202109             IPO         3109
2  2021-09-30  ben137_202109  Reverse Merger          403
3  2021-09-30  bea219_202109             M&A          275
4  2021-09-30  avi218_202109             M&A          275

## Workbook

Add code cells to work with the two DataFrames.