# Company Analysis (Quiz 3 Prep)

## Load libraries and data

Import packages.

In [ ]:
import pandas as pd
import numpy as np

### Dataset

There are two tables in our dataset.

- `df_companies` contains the information of a few hundred fictitous companies.
- `df_info` contains some additional information about those companies

In [ ]:
df_companies = pd.read_csv('https://github.com/bdi475/datasets/raw/56972ccafac4b703553bd66f4e96720b0d43127d/fake-companies.csv')

df_companies.head()

In [ ]:
df_info = pd.read_csv('https://github.com/bdi475/datasets/raw/56972ccafac4b703553bd66f4e96720b0d43127d/fake-company-info.csv')

df_info.head()

## Questions

### How many companies are in this dataset?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: 250

### Number of profitable companies?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: 207

### Does `df_companies` contain any row with missing `country` value?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: Yes

### Merge DataFrames (ungraded)

Merge `df_info` into `df_companies` using `pd.merge()`.

- We will provide you the template code to merge the two tables in the quiz.
- Although this task is not graded, you will need to join two tables to answer the remaining questions.

In [ ]:
df = pd.merge(
    left=df_companies,
    right=df_info,
    on='company_id',
    how='inner'
)
print(df.shape) # should print (250, 9)

In [ ]:
df.head(3)

### Which company recorded the largest revenue in India?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: Newton-Reynolds

### Out of the companies with an inception year of 2018, which company recorded the largest revenue?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: Barnes-Weiss

### Which country has the third largest total revenue?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: Bosnia and Herzegovina

### Which industry has the lowest average revenue?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: Manufacturing

### Among the companies that are not profitable, which company has the largest number of branches?

In [ ]:
# YOUR CODE BEGINS

# YOUR CODE ENDS

**Answer**: Pearson Ltd