In [1]:
import pandas as pd
import numpy as np

In [2]:
# DO NOT CHANGE THE CODE IN THIS CELL
df = pd.DataFrame({
    "name": ["Ben", "Alex", "Daniel", "Carter"],
    "dept": ["HR", "Finance", "HR", "Finance"],
    "office_phone": ["(217)123-4500", np.nan, np.nan, "(217)987-6543"],
    "start_date": ["2017-05-01", "2018-02-01", "2020-08-01", "2019-12-01"],
    "salary": [300000, 100000, 200000, 400000]
})

# Used for intermediate checks
df_backup = df.copy()

df

     name     dept   office_phone  start_date  salary
0     Ben       HR  (217)123-4500  2017-05-01  300000
1    Alex  Finance            NaN  2018-02-01  100000
2  Daniel       HR            NaN  2020-08-01  200000
3  Carter  Finance  (217)987-6543  2019-12-01  400000

In [6]:
df_by_salary = df.sort_values("salary", ascending=False)

df_by_salary

     name     dept   office_phone  start_date  salary
3  Carter  Finance  (217)987-6543  2019-12-01  400000
0     Ben       HR  (217)123-4500  2017-05-01  300000
2  Daniel       HR            NaN  2020-08-01  200000
1    Alex  Finance            NaN  2018-02-01  100000