# Getting a Good Night's Sleep

Source: DataCamp

![insomnia](insomnia.jpg)

Your client, SleepInc, has shared anonymized sleep data from their hot new sleep tracking app SleepScope. As their data science consultant, your mission is to analyze the lifestyle survey data with Python to discover relationships between exercise, gender, occupation, and sleep quality. See if you can identify patterns leading to insights on sleep quality.

## ðŸ’¾ The data: sleep_health_data.csv

SleepInc has provided you with an anonymized dataset of sleep and lifestyle metrics for 374 individuals. This dataset contains average values for each person calculated over the past six months. The data is saved as `sleep_health_data.csv`.

The dataset includes 13 columns covering sleep duration, quality, disorders, exercise, stress, diet, demographics, and other factors related to sleep health. 

| Column | Description |
|---------|----------------------------------------|  
| `Person ID` | An identifier for each individual. |
| `Gender` | The gender of the person (Male/Female). |  
| `Age` | The age of the person in years. |
| `Occupation` | The occupation or profession of the person. |
| `Sleep Duration (hours)` | The average number of hours the person sleeps per day. |
| `Quality of Sleep (scale: 1-10)` | A subjective rating of the quality of sleep, ranging from 1 to 10. |
| `Physical Activity Level (minutes/day)` | The average number of minutes the person engages in physical activity daily. |  
| `Stress Level (scale: 1-10)` | A subjective rating of the stress level experienced by the person, ranging from 1 to 10. |
| `BMI Category` | The BMI category of the person (e.g., Underweight, Normal, Overweight). |
| `Blood Pressure (systolic/diastolic)` | The average blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure. |
| `Heart Rate (bpm)` | The average resting heart rate of the person in beats per minute. |
| `Daily Steps` | The average number of steps the person takes per day. |
| `Sleep Disorder` | The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea). |

In [1]:
import pandas as pd

## Read and Explore Data

In [2]:
df = pd.read_csv('sleep_health_data.csv')
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

## Questions

### Question 1

Which occupation has the lowest average sleep duration? Save this in a string variable called `lowest_sleep_occ`.

In [4]:
df_sleep_duration_by_occupation = df.groupby('Occupation', as_index=False).agg({
    'Sleep Duration': 'mean'
}) \
    .sort_values('Sleep Duration')

df_sleep_duration_by_occupation

              Occupation  Sleep Duration
6   Sales Representative        5.900000
8              Scientist        6.000000
7            Salesperson        6.403125
10               Teacher        6.690000
9      Software Engineer        6.750000
4                Manager        6.900000
1                 Doctor        6.970423
5                  Nurse        7.063014
0             Accountant        7.113514
3                 Lawyer        7.410638
2               Engineer        7.987302

In [5]:
lowest_sleep_occ = df_sleep_duration_by_occupation.iloc[0]['Occupation']
print(f'lowest_sleep_occ={lowest_sleep_occ}')

lowest_sleep_occ=Sales Representative

### Question 2

Which occupation has the lowest average sleep quality? Save this in a string variable called `lowest_sleep_quality_occ`. Did the occupation with the lowest sleep duration also have the lowest sleep quality? If so assign a boolean value to variable `same_occ` variable, `True` if it is the same occupation, and Fa`lse if it isn't.

In [6]:
df_sleep_quality_by_occupation = df.groupby('Occupation', as_index=False).agg({
    'Quality of Sleep': 'mean'
}) \
    .sort_values('Quality of Sleep')

df_sleep_quality_by_occupation

              Occupation  Quality of Sleep
6   Sales Representative          4.000000
8              Scientist          5.000000
7            Salesperson          6.000000
9      Software Engineer          6.500000
1                 Doctor          6.647887
10               Teacher          6.975000
4                Manager          7.000000
5                  Nurse          7.369863
0             Accountant          7.891892
3                 Lawyer          7.893617
2               Engineer          8.412698

In [7]:
lowest_sleep_quality_occ = df_sleep_quality_by_occupation.iloc[0]['Occupation']
print(f'lowest_sleep_quality_occ={lowest_sleep_quality_occ}')

same_occ = lowest_sleep_occ == lowest_sleep_quality_occ
print(f'same_occ={same_occ}')

lowest_sleep_quality_occ=Sales Representative
same_occ=True

### Question 3

Let's explore how `BMI Category` can affect sleep disorder rates. Start by finding what ratio of app users in each `BMI Category` have been diagnosed with Insomnia. Create a dictionary named: `bmi_insomnia_ratios`. The key should be the `BMI Category` as a string, while the value should be the ratio of people in this category with insomnia as a `float` rounded to two decimal places. Here is an example:

```python
bmi_insomnia_ratios = {
    "Normal": float,
    "Overweight": float,
    "Obese": float
}
```

Please note the keys are case-sensitive, and should be formatted as shown in the example dictionary.

In [8]:
# Created with DataCamp's built-in AI tool
# Filter the dataframe to include only rows where the sleep disorder is Insomnia
df_insomnia = df[df['Sleep Disorder'] == 'Insomnia']

# Calculate the total number of people in each BMI Category
total_by_bmi = df['BMI Category'].value_counts()

# Calculate the number of people with Insomnia in each BMI Category
insomnia_by_bmi = df_insomnia['BMI Category'].value_counts()

# Calculate the ratio of people with Insomnia in each BMI Category
bmi_insomnia_ratios = (insomnia_by_bmi / total_by_bmi).round(2).to_dict()

bmi_insomnia_ratios

{'Normal': 0.04, 'Obese': 0.4, 'Overweight': 0.43}

In [9]:
df_insomnia = df[df['Sleep Disorder'] == 'Insomnia']
display(df_insomnia.head(3))
print(f'{df_insomnia.shape[0]} users with insomnia')

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
18,19,Female,29,Nurse,6.5,5,40,7,Normal,132/87,80,4000,Insomnia

77 users with insomnia

In [10]:
# manually perform the task without using the built-in AI tool
# create a DataFrame with only the relevant information
df_temp = df[['Person ID', 'BMI Category', 'Sleep Disorder']].copy()

# create a boolean column to mark whether a user has insomnia
df_temp['is_insomnia'] = df_temp['Sleep Disorder'] == 'Insomnia'
df_temp.drop(columns=['Sleep Disorder'], inplace=True)

df_temp.head(5)

   Person ID BMI Category  is_insomnia
0          1   Overweight        False
1          2       Normal        False
2          3       Normal        False
3          4        Obese        False
4          5        Obese        False

In [11]:
# summarize
insomnia_summary = df_temp.groupby('BMI Category', as_index=False).agg(
    num_insomnia_users=('is_insomnia', 'sum'),
    num_users=('Person ID', 'count')
)

insomnia_summary

  BMI Category  num_insomnia_users  num_users
0       Normal                   9        216
1        Obese                   4         10
2   Overweight                  64        148

In [12]:
# calculate ratios
insomnia_summary['ratio'] = insomnia_summary['num_insomnia_users'] / insomnia_summary['num_users']
insomnia_summary['ratio'] = insomnia_summary['ratio'].round(2)
insomnia_summary

  BMI Category  num_insomnia_users  num_users  ratio
0       Normal                   9        216   0.04
1        Obese                   4         10   0.40
2   Overweight                  64        148   0.43

In [13]:
# convert to the required dictionary format
bmi_insomnia_ratios = dict(zip(insomnia_summary['BMI Category'], insomnia_summary['ratio']))
bmi_insomnia_ratios

{'Normal': 0.04, 'Obese': 0.4, 'Overweight': 0.43}